@tailwind base;
@tailwind components;
@tailwind utilities;


.inputS{
width: 460px !important;
border: 1px solid #ccc !important;
font-size: 16px;
}
@media only screen and (max-width: 992px) and (min-width: 778px) {
    .inputS {
        /* width: 357px !important; */
    }}
.btn{
    border-left: 1px solid #ccc;
}
.icon{
    background-color: #d9d9d9;
    border-radius: 50%;
    display: flex;
    justify-self: center;

}
.Wid_T{
    width: 157px;
    height: 40px;
}
.App {
    font-family: sans-serif;
    text-align: center;
    width: 600px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  ul{
    display: flex;
    align-items: center;
    list-style: none;
    max-width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      background: transparent; /* make scrollbar transparent */
      -webkit-appearance: none;
      width: 0;
      height: 0;
    }
    li{
      background:#FF61F6;
      color: #fff;
      padding: 8px;
      border-radius: 4px;
      margin: 0 4px;
      white-space: nowrap;
    }
  }
  
  button{
    border: 0;
    color: #777;
    font-size: 24px;
    margin: 0 8px;
  }